*{
	margin: 0;
	padding: 0;
}
img{
	display: block;
}
a{
	text-decoration: none;
}  
a:hover{
	text-decoration:none;  /*鼠标移入去有下划线*/
}
li{
	list-style: none;
}
#uname,#pwd,#changeimg{
	display : block;
	height: 40px;
	width: 412px;
	padding-left: 10px;
	border: 1px solid #cccccc;
	margin-bottom: 15px;
}
.nav{
	height: 87px;
	display: flex;
	padding: 0 90px 0 90px;
	overflow: hidden;
	justify-content: space-between;
	margin-top: 30px;
	img{
		
	}
	ul{
		display: flex;
		height: 18px;
		margin-top: 60px;
		li{
			text-align: center;
			width: 110px;
			line-height: 18px;
			a{
				font-size: 12px;
				color: #b6b6b6;
			}
		}
		li:nth-of-type(2){
			border-left: 2px solid #b6b6b6;
			border-right: 2px solid #b6b6b6;
		}
	}
}
.login{
	width: 100%;
	position: relative;
	img{
		width: 100%;
		height: 480px;
	}
	.userlogin{
		padding: 30px 19px 0 19px;
		width: 432px;
		height: 430px;
		position: absolute;
		top: 12px;
		right: 25px;
		overflow: hidden;
		background: white;
		.title{
			height: 20px;
			display: flex;
			justify-content: space-between;
			h3{
				font-size: 19px;
				font-weight: 600px;
			}
			span{
				line-height: 20px;
				display:inline-block;
				a{
					font-size: 14px;
					color: #529bef;
				}
			}
		}
		#uname{
			margin-top: 28px;
		}
		#un{
			font-size: 12px;
			color:  #419ce3;
		}
		#pass{
			font-size: 12px;
			color:  #419ce3;
		}
		#incode{
			height: 40px;
			width: 245px;
			border: 1px solid #cccccc;
			margin-right: 18px;
			margin-bottom: 15px;
			padding-left: 10px;
		}
		#getcode{
			display: inline-block;
			height: 40px;
			width: 140px;
			border: 1px solid #419ce3;
			color: #419ce3;
			font-size: 12px;
			text-align: center;
			line-height: 40px;
		}
		p{
			font-size: 13px;
			color:#666666;
			margin-bottom: 14px;
			a{
				color: #529bef;
				display: inline-block;
			}
		}
		#registor{
			height: 40px;
			width: 427px;
			border: 0;
			background:  #009de6;
			font-size: 17px;
			color: white;
			margin-bottom: 86px;
			display: block;
			text-align: center;
			line-height:40px;
		}
	}
}






